td.address-container {
    font-family: 'Roboto Mono', monospace;

    text-overflow: ellipsis;
    overflow: hidden;
}

td.address-container:hover .clipboard-icon-container {
    visibility: visible !important;  
  }